# Predicting the refractive index for the Materials Project

This notebook will predict the refractive index for ~68,000 materials from the Materials Project (MP).
This is done by using the pretrained model "refractive_index" available in the following directory: modnet/pretrained.

## Load model
First the MODNetModel is loaded:

In [2]:
import sys
#sys.path.append('..')
from modnet.models import MODNetModel
from modnet.preprocessing import MODData

In [3]:
model = MODNetModel.load('../pretrained/refractive_index')

## Load MODData
In order to predict it on new structures a MODData should be created. Here we want to predict on structures from the MP, and therefore load the precomputed MP MODData.
This takes some time and memory.

In [4]:
MP_data = MODData.load("../moddata/MP_2018.6")

## Predict on new structures
By using the predict() method on the MP_data, a dataframe containing the predictions is obtained.

In [6]:
df = model.predict(MP_data)

In [7]:
df

                  n
mvc-8151   1.836289
mvc-8154   2.404503
mvc-1148   2.437731
mvc-14313  2.275732
mvc-9795   1.577527
...             ...
mp-568848  1.796837
mp-864715  4.814851
mp-677105  3.504748
mp-17095   2.901172
mp-774245  2.328551

[68489 rows x 1 columns]

As a test, 3 materials with id mp-19033, mp-559175, and mp-6930, not included in the training set, were computed by DFT with corresponding 'true' refractive index: 2.59, 2.53 and 1.56.

The following  approximation was found by our model, in a fraction of time:

In [8]:
df.loc[['mp-19033', 'mp-559175', 'mp-6930']]

                  n
mp-19033   2.551692
mp-559175  2.458439
mp-6930    1.546023